# App
APP_NAME=Networth API
DEBUG=true
PORT=9527
DATABASE_URL=sqlite:///./data/networth.db

# Invoice import
INVOICE_SKIP=[]
INVOICE_CSV_PATH=./invoice.csv

# Merchant mapping (JSON string)
MERCHANT_MAPPING=[]
